CONTAINER_NAME=skeleton

POSTGRES_PASSWORD=password
POSTGRES_USER=admin

DB_NAME=skeletonDB

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=password

PGADMIN_PORT=8080
BACKEND_PORT=1010

SECRET_KEY=some@secret@text
ALGORITHM=HS256

FRONTEND_PORT=5555

API_BASE_HOST=http://localhost
API_BASE_URL=http://localhost
API_BASE_PORT=1020